-e git+https://github.com/OpenDataServices/flatten-tool.git@4c13ef0b32a59e810919a3de09bc8f64ce8f9392#egg=flattentool
-e git+https://github.com/OpenDataServices/lib-cove.git@52acb2f0dcd296b9d952ff2adbae61dc4f8dd296#egg=libcove
-e git+https://github.com/open-contracting/lib-cove-ocds.git@8a3d696eb614063bdec1790c0e3fda68d0445040#egg=libcoveocds
ocdskit==0.0.5
Flask==1.0.2
alembic==1.0.9
pgpasslib==1.1.0
psycopg2==2.8.2
ocdsmerge==0.5.1
blinker==1.4
redis==3.2.1
sentry-sdk==0.7.10
# Lock to 1.2 branch (1.3 branch has issues with an identifier being too long)
SQLAlchemy==1.2.19
## The following requirements were added by pip freeze:
bleach==3.1.0
cached-property==1.5.1
certifi==2019.3.9
chardet==3.0.4
Click==7.0
commonmark==0.8.1
contextlib2==0.5.5
Django==2.2
et-xmlfile==1.0.1
future==0.17.1
idna==2.8
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10.1
json-merge-patch==0.2
jsonref==0.2
jsonschema==2.6.0
lxml==4.3.3
Mako==1.0.9
MarkupSafe==1.1.1
openpyxl==2.6.2
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
requests==2.21.0
rfc3987==1.3.8
schema==0.7.0
six==1.12.0
sqlparse==0.3.0
strict-rfc3339==0.7
urllib3==1.24.1
webencodings==0.5.1
Werkzeug==0.15.2
xmltodict==0.12.0
