dj-database-url
django-cors-headers
django<5.3
djangorestframework
drf-spectacular
gunicorn[setproctitle]
ijson
libcoveocds[perf]
ocdsextensionregistry
ocdskit[perf]
ocdsmerge-rs
psycopg
requests
sentry-sdk
simplejson
yapw[perf]
