dj-database-url
Django==3.2
orjson
pika
psycopg2
requests
ijson
libcoveocds
ocdsmerge
ocdskit
ocdsextensionregistry
django-cors-headers
simplejson
djangorestframework
django-filter
gunicorn[setproctitle]
sentry-sdk