-e git+https://github.com/OpenDataServices/flatten-tool.git@v0.5.0#egg=flattentool
# Normally lib-cove-ocds is v0.1.0 but we are hacking it to be a specially speeded up version.
# See https://github.com/open-contracting/lib-cove-ocds/issues/9
-e git+https://github.com/open-contracting/lib-cove-ocds.git@92e81528f2caf55b3b0a0971191bf3d0789e741b#egg=libcoveocds
ocdskit
Flask
alembic
pgpasslib
psycopg2
ocdsmerge
blinker
redis
sentry-sdk
